name: Unit Tests

on:
  push:
    paths-ignore:
      - README.md

jobs:
  test:
    name: Run unit tests against mocked AWS clients
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version-file: go.mod
      - run: go test -v
    
  lint:
    name: Lint with golangci-lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.17'
          cache: false
      - uses: golangci/golangci-lint-action@v3
        with:
          version: v1.29